body{
    margin: 0;
    padding: 0;
    font-family:Arial, Helvetica, sans-serif
}

header{
    display: flex;
    align-items: center;
    justify-content: center;
}

.logoFF{
    height: 60px;
    width: auto;
}

#ff01{
    background-color: black;
    height: 100px;
    color: aliceblue;
    gap: 30px;
    
}